.cv h3 {
  font-size: 11pt;
  text-transform: capitalize;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;

  color: #444;
}

.cv h1,
.cv h2 {
  text-transform: uppercase;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32pt;
}

.cv h2 {
  font-size: 16pt;
}

.cv header p {
  color: #727272;
  font-size: 15pt;
}

@media print {
  .sidebar {
    display: none;
  }

  @page {
    margin: 0 !important;
  }

  #root {
    padding: 0 !important;
  }
}
