.cv {
  display: flex;
  flex-direction: column;

  width: 210mm;
  height: 297mm;
  padding: 10mm 10mm;
  transform: scale(0.8);

  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11pt;

  overflow: hidden;
}

.cv header {
  display: flex;
  justify-content: center;
  gap: 10mm;
  align-items: center;

  padding: 0mm;
  margin-bottom: 15mm;

  color: #1b3c3d;
}

.cv header .title {
  width: 60%;
}

.cv-main img {
  width: 5mm;
  height: 5mm;
}

.cv-title {
  /* font-family: "Lustria", serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  color: #688586;

  letter-spacing: 10pt;
  margin-top: 5mm;
}

.photo {
  width: 60mm;
  height: 60mm;
  margin: auto;
  border-radius: 50%;
}

.cv-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80%;
  color: #3c595a;

  align-items: start;
  gap: 8mm 10mm;
}

.cv section {
  margin: 0;
  width: 130mm;
}

section.left-col {
  width: 60mm;
}

.cv li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cv li span {
  margin-right: 3mm;
}

.cv h1,
.cv h3 {
  font-family: "Unica One", sans-serif;
  font-size: 36pt;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cv h2 {
  font-family: "Unica One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;

  margin-bottom: 1mm;
}

.cv h3 {
  font-size: 12pt;
  text-transform: capitalize;
}

.cv h2 {
  text-transform: uppercase;
}
/* Skills Section */

.cv .skill-point {
  display: flex;
}

.cv .skill-point p:first-child {
  width: 28mm;
}

.cv .education-point,
.cv .career-point {
  margin-bottom: 2mm;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

@media print {
  .sidebar {
    display: none;
  }

  .cv {
    transform: scale(1) !important;
  }

  @page {
    margin: 0 !important;
  }

  #root {
    padding: 0 !important;
  }
}
