* {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
}

header {
  padding: 2em;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  scrollbar-color: #525151 #292929;
  flex: 1 auto;
}

/* CV styling */

.cv {
  flex: 1 auto;
  background-color: white;
}

.cv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cv header {
  text-align: center;
}
