* {
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;

  scrollbar-color: #525151 #292929;
}

header {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  flex: 1 auto;
}

.bulletpoint-container li {
  display: flex;
}

/* CV styling */

.cv-container {
  display: flex;
  justify-content: center;

  overflow: auto;
  background-color: #1b1b1b;
}

.cv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cv header {
  text-align: center;
}
